.page-menu {
	ion-card {
		position: relative;
		text-align: center;
		margin: 0px !important;
		width: 100% !important;
	}
	.store-title {
		position:  absolute;
		top: 30%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #fff;
	}
	.store-subtitle {
		font-size: 1.0em;
		position: absolute;
/*		top: 60%;*/
		bottom: 10px;
		width: 100%;
		color: #fff;

	}
}
